go 1.24.0

use (
	./modules/admin
	./modules/admin/proto/admingen
	./modules/archive
	./modules/cli
	./modules/cloudnode
	./modules/cloudnode/proto/cloudnodegen
	./modules/collector
	./modules/collector/proto/collectorgen
	./modules/eventbus
	./modules/eventbus/proto/eventbusgen
	./modules/factor
	./modules/factor/proto/factorgen
	./modules/gateway
	./modules/hostagent
	./modules/hostagent/proto/hostagentgen
	./modules/monitor
	./modules/monitor/proto/monitorgen
	./modules/storage
	./modules/storage/proto/storagegen
	./modules/strategy
	./modules/strategy/proto/strategygen
	./modules/trade
	./modules/trade/proto/tradegen
	./packages/cloudprovider
	./packages/cloudruntime
	./packages/commonpb
	./packages/crypto
	./packages/gatewayauth
	./packages/gatewayproxy
	./packages/healthz
	./packages/hostmetricpb
	./packages/jetstream
	./packages/messagepb
	./packages/metricspb
	./packages/pyruntime
	./packages/report
	./packages/requestauth
	./packages/trpcretry
	./web-host
)
