go 1.24.0

use (
	./modules/cli
	./modules/collector
	./modules/admin
	./modules/admin/proto/admingen
	./modules/factor
	./modules/trade
	./modules/trade/proto/tradegen
	./modules/storage
	./modules/storage/proto/gen
)
