/* global style scss */
@use "@/style/var/index" as *;

// ============非铺满main窗口============
// 整体main窗口容器-有内边距
.moox-page {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  height: 100%;
  min-width: 0;
  padding: $padding $padding $space-11;
  overflow-y: auto;
  background: $color-fill-1;
}

// 内部main窗口容器-有内边距
.moox-inner {
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  padding: $padding;
  background: $color-bg-1;
  border: $border-1 solid $color-border-1;
  border-radius: $radius-box-1;
  box-shadow: 0 1px 2px rgb(0 0 0 / 3%);
}

.moox-inner .arco-table {
  width: 100%;
}

.moox-inner .arco-table-th {
  font-weight: 600;
}

.moox-inner .arco-table-pagination {
  margin-top: $space-3;
}

// ==============铺满main窗口==================
// 铺满main窗口-有内边距
.moox-fill {
  height: 100%;
  padding: $padding;
  overflow: hidden;
  background: $color-fill-1;
}
.moox-fill-inner {
  box-sizing: border-box;
  height: 100%;
  padding: $padding;
  overflow: hidden;
  background: $color-bg-1;
}

// 铺满main窗口-无内边距
.moox-fill-pure {
  height: 100%;
  overflow: hidden;
  background: $color-fill-1;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
