@use "@/style/var/index" as *;
@use "@/style/model";
@use "@/style/media";
* {
  padding: 0;
  margin: 0;
}
html,
body,
#app {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html {
  font-size: 14px;
}
#app {
  overflow: hidden;
}

:root {
  --moox-space-1: #{$space-1};
  --moox-space-2: #{$space-2};
  --moox-space-3: #{$space-3};
  --moox-space-4: #{$space-4};
  --moox-space-5: #{$space-5};
  --moox-space-6: #{$space-6};
  --moox-space-7: #{$space-7};
  --moox-space-8: #{$space-8};
  --moox-space-9: #{$space-9};
  --moox-space-10: #{$space-10};
  --moox-space-11: #{$space-11};
  --moox-space-tight: #{$space-tight};
  --moox-space-toolbar-table: #{$space-toolbar-table};
}

// 设置全局颜色-关联黑暗模式
// 全局取一级容器背景色$color-bg-2，main窗口取边框色浅色$color-border-1
body {
  color: $color-text-1; // 整体文字的颜色
  background: $color-bg-2; // body背景颜色
}

// 设置nprogress进度条样式
#nprogress .bar {
  background: $color-primary !important;
}
